<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
					<div class="meta asset-footer">
						<p class="date-publish">
							<span style="margin-left:1.2em;">Published: <span>
							<date class="date-pub" title="{{ page.date | date:"%Y-%m-%d" }}" datetime="{{ page.date | date:"%Y-%m-%d" }}" pubdate>
							<span class="year">{{ page.date | date:"%Y-%m-%d" }}</span>
							</date>
						</p>
						<ul class="list-category list-linear">
							<li class="list-head">category: </li>
							{% assign categories_list = page.categories %}
							{% include JB/categories_list %}
						</ul>
						<ul class="list-tag list-linear">
							<li class="list-head">tags: </li>
							{% assign tags_list = page.tags %}
							{% include JB/tags_list %}
						</ul>
						<ul class="list-tag list-linear">
							<li class="list-head">版权声明：自由转载-非商用-非衍生-保持署名 | <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">Creative Commons BY-NC-ND 3.0</a></li>{% if page.redirecturl!=""%}<li class="list-head">原文网址：<a href="{{ page.redirecturl }}" target="_blank">{{ page.redirecturl }}</a></li>{% endif %}

						</ul>
					</div><!-- meta -->
				</div><!-- entry-content -->
				<div class="misc-content">
					<div class="unit-foot">
						<div class="unit-inner unit-foot-inner">
							<nav class="pagination">
								<ul style="text-align:center;padding-top:5px;">
									{% if page.previous %}
									<li class="prev" style="float:left;margin-left:0;"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
									{% endif %}

									{% if page.next %}
									<li class="next" style="float:right;"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
					<div class="comment">
					{% include JB/comments %}
					</div>
				</div><!-- misc-content -->
			</div><!-- bd -->

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>