<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
					<div class="meta asset-footer">
						<ul class="date-publish list-linear">
							<li>Published: </li>
							<li><date class="date-pub" title="{{ page.date | date:"%Y-%m-%d" }}" datetime="{{ page.date | date:"%Y-%m-%d" }}" pubdate>
							<span class="year">{{ page.date | date:"%Y-%m-%d" }}</span>
							</date></li>
						</ul>
						<ul class="list-tag list-linear">
							<li class="list-head">tags: </li>
							{% assign tags_list = page.tags %}
							{% include JB/tags_list %}
						</ul>
						<ul class="list-tag list-linear">
							<li class="list-head">版权声明：自由转载-非商用-非衍生-保持署名 | <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">Creative Commons BY-NC-ND 3.0</a></li>{% if page.redirecturl!=""%}<li class="list-head">原文网址：<a href="{{ page.redirecturl }}" target="_blank">{{ page.redirecturl }}</a></li>{% endif %}

						</ul>
					</div><!-- meta -->
				</div><!-- entry-content -->
				<div class="misc-content">
					<div class="comment">
					{% include JB/comments %}
					</div>
				</div><!-- misc-content -->
			</div><!-- bd -->

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>